name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Necessário para permitir o push de volta

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests and update snapshots
      run: npx playwright test --update-snapshots

    - name: Commit and Push Linux Snapshots
      if: always() # Garante que as imagens sejam salvas mesmo se o teste falhar
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add e2e/smoke-tests/smoke-tests.spec.ts-snapshots/*.png
        git commit -m "chore: atualizando snapshots do Linux via GitHub Actions [skip ci]" || echo "Sem mudanças para commitar"
        git push